/* font-family */
p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Indie Flower', cursive;
}


/* font-size */
h1 {
	font-size: 3em;
}

p {
	font-size: 1em;
}

#big {
	font-size: 2em;
}

#bold {
	font-weight: bold;
}


/* line-spacing */
p {
	line-height: 1.5;
}


/* text-align */
h1 {
	text-align: center;
}


/* text-decoration */
#line-through {
	text-decoration: line-through;
}

#underline {
	text-decoration: underline;
}

